
/*-------------------------------------------------------------------------------------------------*/
/* Custom CSS
/*-------------------------------------------------------------------------------------------------*/



/*---------------------------------------------MENU----------------------------------------*/

#menuTree span{
    font-size: 12px;
    position: absolute;
    display: inline-block;
    right: 30px;
    width: auto;
}

#menuTree label{
  font-size: 11px;
  display:inline;
  padding-left:5px;
  padding-right:2px;
  border-left: 1px solid rgba(0, 0, 0, 0.6);


}

#menuTree input[type="text"] {

    /*border: 1px solid #CCCCCC;*/
    /*border-radius: 2px 2px 2px 2px;*/
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    color: rgba(0, 0, 0, 0.75);
    display: inline;
    font-size: 12px;
    height: 20px;
    margin: 5px;
    padding: 2px 2px 2px 5px;
    transition: all 0.15s linear 0s;
    width:100px;

}

#menuTree input[type="submit"]{
    cursor: pointer;
    float: right;
    font-size: 14px;
    font-weight: 400;
    padding: 122px;
    height: 25px;
    width: 122px;
    margin: 5px;
}

#menuTree input[type="checkbox"]{
    margin: 5px;
    float: none;
}


#menuTree ul{
  list-style-type:none;
}

#menuTree li{
  line-height:30px;
}




#menuTree em{
  opacity:0.4;
  font-size: 12px;
}

#menuTree select{
width: 80px;
}
